# =============== #
# Unity generated #
# =============== #
Temp/
Library/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
obj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
Sheep/Assets/UnityVS.meta
Sheep/Assets/UnityVS/Editor.meta
Sheep/Assets/UnityVS/Editor/SyntaxTree.VisualStudio.Unity.Bridge.dll
Sheep/Assets/UnityVS/Editor/SyntaxTree.VisualStudio.Unity.Bridge.dll.meta
Sheep/Assets/UnityVS/Editor/SyntaxTree.VisualStudio.Unity.Messaging.dll
Sheep/Assets/UnityVS/Editor/SyntaxTree.VisualStudio.Unity.Messaging.dll.meta
Sheep/Assets/UnityVS/Editor/UnityVS.VersionSpecific.dll
Sheep/Assets/UnityVS/Editor/UnityVS.VersionSpecific.dll.meta
Sheep/Sheep-csharp.sln
